.recipe_container {
  margin: 0 auto;
  width: 800px;
  font-family: sans-serif;
  background-color: #bfb1ac;
  flex: 1;
}
.recipe_header {
  height: 220px;
  width: 800px;

  position: relative;
}
.recipe_img {
  margin: 1%;
  float: right;
}
.recipe_img img {
  max-width: 100%;
}

.recipe_title {
  float: left;
  font-family: cursive;
  font-size: 2.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 1%;
  max-width: 55%;
  background-color: white;
  opacity: 0.9;
}
.recipe_content {
  background-color: white;
  opacity: 0.9;
  margin: 1%;
  position: relative;
  display: inline-block;
}
.recipe_content div {
  display: inline-block;
}

.recipe_instruction_padding {
  padding: 5px;
}

.recipe_ing_name {
  margin: 2%;
  width: 50%;
  /*background-color: blue;*/
}
.recipe_ing_amount {
  margin: 2%;
  width: 40%;
  list-style-type: none;
  /*background-color: red;*/
}
h2 {
  font-family: Impact, fantasy;
}
